# Installing Python via Anaconda Distribution and Using Jupyter Notebook

## Anaconda Distribution

<div>
<img src="img/anaconda.png" width="300" align="right"/>
</div>


- Easily manage **packages** and **environments**, create and share public **notebooks**
- Thousands of most fundamental **DS, AI, ML packages**
- Download: [https://www.anaconda.com/download](https://www.anaconda.com/download)
- Anaconda Documentation: [https://docs.anaconda.com/free/anacondaorg/user-guide/](https://docs.anaconda.com/free/anacondaorg/user-guide/)

### Conda & Anaconda Navigator

<div>
<img src="img/conda.png" width="400" align="left"/>
</div>

<div>
<img src="img/anaconda_navigator.png" width="500" align="right"/>
</div>

### Creating and Managing Environments

- Conda Documentation: [https://conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html](https://conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html)

0. To see a list of your environments:

```
conda info --envs
```

1. To create an environment:

```
conda create --name myenv
```

2. To create an environment with a specific version of Python:

```
conda create -n myenv python=3.9
```

3. To create an environment with a specific package:

```
conda create -n myenv scipy
```

OR

```
conda create -n myenv python
conda install -n myenv scipy
```

4. To create an environment with a specific version of a package:

```
conda create -n myenv scipy=0.17.3
```

OR

```
conda create -n myenv python
conda install -n myenv scipy=0.17.3
```

5. To create an environment with a specific version of Python and multiple packages:

```
conda create -n myenv python=3.9 scipy=0.17.3 astroid babel
```

### Jupyter Notebook

<div>
<img src="img/jupyter_notebook.png" width="500" align="right"/>
</div>

- A **notebook** is a shareable document that combines computer code, plain language descriptions, data, rich visualizations like 3D models, charts, graphs and figures, and interactive controls.
- Documentation: [https://docs.jupyter.org/en/latest/](https://docs.jupyter.org/en/latest/)
- Two modes:
    1. Command Mode
    2. Edit Mode
- Four Cell Types:
    1. [Code](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Running%20Code.html)
    2. [Markdown](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html)
    3. Raw NBConvert
    4. Heading (No longer supported, user Markdown instead)
    
#### Keyboard Shortcuts

- Help > Keyboard Shortcuts (H)

## Errors (Exceptions) in Python

- Built-in Exceptions (Python Documentation): [https://docs.python.org/3/library/exceptions.html](https://docs.python.org/3/library/exceptions.html)
- Common Errors in Python and How to Fix Them (freeCodeCamp.org): [https://www.freecodecamp.org/news/common-errors-in-python-and-how-to-fix-them/](https://www.freecodecamp.org/news/common-errors-in-python-and-how-to-fix-them/)
    - The following section is based on this freeCodeCamp.org tutorial.
- List of Common Errors:
    - **SyntaxError**
    - **IndentationError**
    - **NameError**
    - **TypeError**
    - **IndexError**
    - **KeyError**
    - **AttributeError**

### SyntaxError
- **Syntax error** occurs when you have a typo or other mistake in your code that causes it to be invalid syntax.

- Example:
    - The following code raises SyntaxError because in the if condition, the **assignment operator** (`=`) is used instead of the **comparison operator** (`==`).
```python
if x = 10:
    print("x is equal to 10")
```
- To avoid **syntax errors**:
    - Double-check your code for typos or other mistakes before running it.
    - Use a code editor that supports syntax highlighting to help you catch syntax errors.
    - Read the error message carefully to determine the location of the error.

In [1]:
x = 10

In [2]:
x == 10

True

In [3]:
if x = 10:
    print("x is equal to 10")

SyntaxError: invalid syntax (69744013.py, line 1)

In [4]:
if x == 10:
    print("x is equal to 10")

x is equal to 10

### IndentationError

- Python uses **whitespace** to indicate blocks of code, so proper indentation is critical.
- Example:
```python
for i in range(10):
print(i)
```
- To avoid **indentation errors**:
    - Use four spaces for each level of indentation.
    - Don't mix tabs and spaces for indentation.
    - Make sure your indentation is consistent throughout your code.

In [5]:
for i in range(10):
print(i)

IndentationError: expected an indented block (3979827255.py, line 2)

In [6]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### NameError

- **Name errors** occur when you try to use a variable or function that hasn't been defined.
- Example:
```python
my_variable = 5
print(my_vairable)
```
- To avoid **name errors**:
    - Make sure you've defined all variables and functions before using them.
    - Double-check the spelling and capitalization of your variable and function names.
    - Use Python's built-in debugging tools, such as print statements, to help you track down name errors.

In [7]:
my_variable = 5
print(my_vairable)

NameError: name 'my_vairable' is not defined

In [8]:
my_variable = 5
print(my_variable)

5

### TypeError

- **Type errors** occur when you try to perform an operation on data of the wrong type.
- Example:
```python
x = "5"
y = 10
result = x + y
```
- To avoid **type errors**:
    - Use type annotations in your code to make it clear what types of data you expect.
    - Use Python's built-in type-checking tools, such as the typing module and the mypy tool.
    - Write unit tests to ensure that your code handles different types of data correctly.

In [9]:
type(5)

int

In [10]:
type(5.7)

float

In [11]:
type("5")

str

In [12]:
5 + 5

10

In [13]:
5.1 + 5.1

10.2

In [14]:
"5" + "5"

'55'

In [15]:
"a" + "a"

'aa'

In [16]:
x = "5"
y = 10
result = x + y

TypeError: can only concatenate str (not "int") to str

In [17]:
x = "5"
y = 10
result = int(x) + y

### IndexError

- **Index errors** occur when you try to access an item in a list or other sequence using an index that is out of range.
- Example:
```python
my_list = [1, 2, 3, 4]
print(my_list[5])
```
- To avoid **index errors**:
    - Make sure you're using the correct index values for your sequence.
    - Use Python's built-in functions, such as len, to determine the length of your sequence before trying to access items in it.
    - Use exception handling, such as try and except blocks, to handle index errors gracefully.

In [18]:
my_list = [1, 2, 3, 4]
print(my_list[5])

IndexError: list index out of range

In [19]:
len(my_list)

4

In [20]:
my_list = [1, 2, 3, 4]
print(my_list[3])

4

### KeyError

- **Key errors** occur when you try to access a dictionary using a key that doesn't exist.
- Example:
```python
my_dict = {"name": "John", "age": 25}
print(my_dict["gender"])
```
- To avoid key errors:
    - Make sure you're using the correct keys for your dictionary.
    - Use Python's built-in in operator to check whether a key exists in a dictionary before trying to access it.
    - Use exception handling, such as try and except blocks, to handle key errors gracefully.

In [21]:
my_dict = {"name": "John", "age": 25}
print(my_dict["gender"])

KeyError: 'gender'

In [22]:
my_dict.keys()

dict_keys(['name', 'age'])

In [23]:
# Here, we use the get() method to access the value for the key "gender".
# The second argument of the get() method specifies the default value to return if the key does not exist.

my_dict = {"name": "John", "age": 25}
print(my_dict.get("gender", "Key not found"))

Key not found

In [24]:
# Or, you can add the key-value pair to the dictionary.
my_dict["gender"] = "male"

print(my_dict)
print(my_dict["gender"])

{'name': 'John', 'age': 25, 'gender': 'male'}
male

### AttributeError
- **Attribute errors** occur when you try to access an attribute of an object that doesn't exist, or when you try to access an attribute in the wrong way.
- Example:
    - In the following code, we are trying to add an item to the list using the `add()` method, which does not exist for lists. To add an item to a list, we should use `append()` method.
```python
my_list = [1, 2, 3, 4]
my_list.add(5)
```

In [25]:
my_list = [1, 2, 3, 4]
my_list.add(5)

AttributeError: 'list' object has no attribute 'add'

In [26]:
print(my_list)

[1, 2, 3, 4]

In [27]:
my_list = [1, 2, 3, 4]
my_list.append(5)

In [28]:
print(my_list)

[1, 2, 3, 4, 5]

## Importing & Exporting CSV & JSON Files

### Generate Random Data and Write to CSV File

In [29]:
import numpy as np
import pandas as pd

In [30]:
col_1 = pd.Series(np.random.randint(1, 100, 24), name="col_1")
col_2 = pd.Series(np.random.choice(["male", "female"], size=24), name="col_2")
col_3 = pd.Series(np.random.choice(pd.date_range(start="22/06/2023", end="28/06/2023", freq="D").date, size=24), name="col_3")

df = pd.concat([col_1, col_2, col_3], axis=1)

C:\Users\melihcanyardi\AppData\Local\Temp\ipykernel_7592\2568444134.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  col_3 = pd.Series(np.random.choice(pd.date_range(start="22/06/2023", end="28/06/2023", freq="D").date, size=24), name="col_3")

In [31]:
# Write DataFrame to csv file
df.to_csv("data.csv", index=False)

In [32]:
# Read csv file into DataFrame
df_read = pd.read_csv("data.csv")

In [33]:
df_read

    col_1   col_2       col_3
0      44  female  2023-06-23
1       1  female  2023-06-24
2      84  female  2023-06-26
3      54  female  2023-06-24
4      97    male  2023-06-22
5      61  female  2023-06-25
6      14  female  2023-06-24
7      13  female  2023-06-27
8      70    male  2023-06-22
9      48  female  2023-06-24
10     59  female  2023-06-24
11      1  female  2023-06-24
12     24    male  2023-06-28
13     18    male  2023-06-24
14     39    male  2023-06-22
15     46  female  2023-06-25
16     36  female  2023-06-28
17     24  female  2023-06-23
18     90  female  2023-06-27
19     66  female  2023-06-22
20     99  female  2023-06-26
21     31    male  2023-06-27
22     59  female  2023-06-25
23     63  female  2023-06-26

### Write and Read JSON Files

In [34]:
import json

In [35]:
data = {"name":"Ali", "age":27, "location":"Istanbul"}

In [36]:
# To convert python dictionary to json, use json.dumps()
json_data = json.dumps(data)

In [37]:
data

{'name': 'Ali', 'age': 27, 'location': 'Istanbul'}

In [38]:
type(data)

dict

In [39]:
json_data

'{"name": "Ali", "age": 27, "location": "Istanbul"}'

In [40]:
type(json_data)

str

In [41]:
# Write to json file
with open("json_data.json", "w") as f:
    f.write(json_data)

In [42]:
# Read from json file
with open("json_data.json", "r") as f:
    json_read = f.read()

In [43]:
json_read

'{"name": "Ali", "age": 27, "location": "Istanbul"}'

In [44]:
# To convert json to python dictionary, use json.loads()
data = json.loads(json_read)
data

{'name': 'Ali', 'age': 27, 'location': 'Istanbul'}

In [45]:
type(data)

dict